* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #261742;
  color: #edecee;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  min-height: 600px;
  min-width: 600px;
  background-color: #3d2666;
  border-radius: 16px;
}
h1 {
  margin-bottom: 0.6em;
  color: white;
  cursor: default;
  font-size: 2.8em;
}
.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  min-width: 90%;
}

.actions-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.convert-btn {
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: 1.8em;
  min-width: 50%;
  background-color: #502d92;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition:
    box-shadow 0.2s ease,
    transform 0.2s ease;
  outline: none;
  border: none;
}
.convert-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px #7543d1;
}
.swap-btn {
  padding: 0.25em;
  font-size: 1.2em;
  min-width: 20%;
  background-color: #502d92;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition:
    box-shadow 0.2s ease,
    transform 0.2s ease;
  outline: none;
  border: none;
}
.swap-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px #7543d1;
}

.clear-btn {
  position: absolute;
  display: none;
  bottom: 2em;
  left: 2em;
  background-color: #502d92;
  color: white;
  border-radius: 10px;
  padding: 1em;
  cursor: pointer;
}

input,
select {
  min-width: 100%;
  min-height: 2.5em;
  outline: none;
  background-color: #5c3a96;
  color: white;
  font-size: 1.2em;
}
input {
  text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
label {
  margin-bottom: 0.2em;
  color: #ccc9ce;
  font-size: 1.2em;
}

.hidden {
  display: none;
}
#result.active {
  display: block;
  margin-top: 1em;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}
